In [8]:
i=1
while i<=5:
    print('vamsi', end=' ')
    j=1
    while j<=3:
        print('styles', end=' ')
        j=j+1
    i=i+1
    print()

vamsi styles styles styles
vamsi styles styles styles
vamsi styles styles styles
vamsi styles styles styles
vamsi styles styles styles

In [8]:
x=['vamsi', 25, 4.2]
for i in x:
    print(i)

vamsi
25
4.2

In [13]:
x=['vamsi', 25, 4.2]
print(x)

['vamsi', 25, 4.2]

In [14]:
x=['vamsi', 25, 4.2]
for i in x:
    print(i,end=' ')

vamsi 25 4.2

In [9]:

for i in ['vamsikrishna']:
    print(i,end='  ')

vamsikrishna

In [18]:

for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [22]:
for i in range(100,50,-6):
    print(i,end='  ')

100  94  88  82  76  70  64  58  52

In [23]:
for i in range(50,100,6):
    print(i,end='  ')

50  56  62  68  74  80  86  92  98

In [28]:
for i in range(50,61):
    if i%5!=0:
        print(i)

51
52
53
54
56
57
58
59

In [30]:
for i in range(50,61):
    if i%5!=0:
        print(i,end='  ')

51  52  53  54  56  57  58  59

In [55]:
for i in range(50,61):
    if i%5!=0:
        continue
    print(i)

50
55
60

In [50]:
for i in range(50,61):
    if i%5==0:
        continue
    print(i)

51
52
53
54
56
57
58
59

In [51]:
for i in range(50,61):
    if i%5!=0:
        print(i,)

51
52
53
54
56
57
58
59

In [63]:
for i in range(50,61):
    if i%3==0:
        continue
    print(i)

50
52
53
55
56
58
59

In [68]:
for i in range(50,61):
    if i%3!=0 and i%5!=0:
        
         print(i)

52
53
56
58
59

In [93]:
for i in range (5):
    for j in range (4):
        print('#',end=' ')
    print()

# # # #
# # # #
# # # #
# # # #
# # # #

In [94]:
for i in range (5):
    for j in range (i):
        print('#',end=' ')
    print()

#
# #
# # #
# # # #

In [95]:
for i in range (5):
    for j in range (i+1):
        print('#',end=' ')
    print()

#
# #
# # #
# # # #
# # # # #

In [96]:
for i in range (5):
    for j in range (5-i):
        print('#',end=' ')
    print()

# # # # #
# # # #
# # #
# #
#

In [10]:
print('poojari "rajesh" \'varma\'')

poojari "rajesh" 'varma'

In [2]:

print('poojari "rajesh" \'varma\'')
_+'gorantla'

poojari "rajesh" 'varma'

'gorantlagorantla'

In [3]:
print('poojari "rajesh" \'varma\'')
_+'vamsi'

poojari "rajesh" 'varma'

'gorantlagorantlavamsi'

In [8]:
print('poojari "rajesh" \'varma\'')
_ + 'sathya'

poojari "rajesh" 'varma'

'gorantlagorantlavamsisathyasathyasathyasathya'

In [9]:
print('poojari "rajesh" \'varma\'')
print(_ + 'sathya',end='  ')

poojari "rajesh" 'varma'
gorantlagorantlavamsisathyasathyasathyasathyasathya

In [19]:
print('poojari "rajesh" \'varma\'')
result='gorantla'
print (result)
result + 'vamsi'
sathya='result+vamsi'
for i in ['sathya']:
    print(i,end=' ')

poojari "rajesh" 'varma'
gorantla
sathya

In [4]:
x=[25,2,4,5,5,248,]
x.append(56)
print(x)

[25, 2, 4, 5, 5, 248, 56]

In [5]:
x=[25,2,4,5,5,248,]
x.insert(2,56)
print(x)

[25, 2, 56, 4, 5, 5, 248]

In [6]:
x=[25,2,4,5,5,248,]
x.pop(5)
print(x)

[25, 2, 4, 5, 5]

In [10]:
x=[25,2,4,5,5,248]
print(x.pop(3))

5

In [13]:
x=[25,2,4,5,5,248]
del x[2:]
print(x)

[25, 2]

In [15]:
x=[25,2,4,5,5,248]
x. extend([1,2,3,4,5])
print(x)

[25, 2, 4, 5, 5, 248, 1, 2, 3, 4, 5]

In [16]:
print(min(x))

1

In [17]:
print(max(x))
print(sum(x))
print(min(x))

248
304
1

In [31]:
x=[25,2,4,5,5,248]
x.append(54)
x. insert(5,25)
x.extend([56,7,8,9,])
del x[:]
print(x)

[25, 2, 4, 5]

In [3]:
x='6.78.878'
print(type(x))

<class 'str'>